html,body{ 
  margin:0;
}

canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
  height:100%;
    width: 100%;
  background:#000;
    z-index: -1;
    position:fixed;
}

.navbar-fixed-top{
z-index: 1;
color: azure;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
    padding: 10;
    text-align: center;
    width: 20%;
    
}

li h6{
    padding-top: 15%;
}

a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}

.main{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    color: white;
}

.p2{
    width: 100%;
    height: 100%;
}